.feedback {
  padding-top: 90px;
  padding-bottom: 90px;
}

.feedback__wrapper {
  max-width: 780px;
  padding: 50px 100px;
  margin: 0 auto;
  background-color: var(--bg);
  border-radius: 20px;
}

.feedback__title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}

.feedback__text {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 18px;
}

.feedback__text_orange {
  font-weight: 550;
  color: var(--main-color);
  /* margin-bottom: 21px; */
}

.feedback__text_bottom {
  margin-bottom: 15px;
}

@media (max-width: 1320px) {
  .feedback {
    padding-top: 70px;
  }

  .feedback__wrapper {
    max-width: 680px;
    padding: 50px 93px;
  }

  .feedback__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 19px;
  }

  .feedback__text {
    max-width: 390px;
    margin: 0 auto 18px;
  }

  .feedback__text_bottom {
    max-width: 100%;
  }
}

@media(max-width: 1023px) {
  .feedback {
    padding-top: 60px;
  }

  .feedback__wrapper {
    border-radius: 18px;
    padding: 40px 60px;
    max-width: 540px;
  }

  .feedback__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .feedback__text {
    max-width: 300px;
  }

  .feedback__text_bottom {
    max-width: 100%;
    margin-bottom: 26px;
  }
}

@media(max-width: 620px) {
  .feedback {
    padding-top: 40px;
  }

  .feedback__wrapper {
    border-radius: 12px;
    padding: 30px 29px;
  }

  .feedback__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .feedback__text {
    margin: 0 auto 11px;
  }

  .feedback__text_bottom {
    margin: 0 auto 13px;
  }
}