.header {
  padding-top: 21px;
  padding-bottom: 10px;
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__link-logo {
  justify-self: center;
}

.header__link-phone {
  position: relative;
  justify-self: flex-end;
  width: 215px;
  font-size: 20px;
  line-height: 30px;
  text-align: end;
  transition: color .3s ease-in-out;
}

.header__link-phone:hover {
  color: var(--main-color);
}

.header__link-phone::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_44_424)'%3E%3Cpath d='M20.01 15.38C18.78 15.38 17.59 15.18 16.48 14.82C16.13 14.7 15.74 14.79 15.47 15.06L13.9 17.03C11.07 15.68 8.42 13.13 7.01 10.2L8.96 8.54C9.23 8.26 9.31 7.87 9.2 7.52C8.83 6.41 8.64 5.22 8.64 3.99C8.64 3.45 8.19 3 7.65 3H4.19C3.65 3 3 3.24 3 3.99C3 13.28 10.73 21 20.01 21C20.72 21 21 20.37 21 19.82V16.37C21 15.83 20.55 15.38 20.01 15.38Z' fill='%23FF8A00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_44_424'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media(max-width: 1024px) {
  .header {
    padding-top: 30px;
    padding-bottom: 16px;
  }

  .header__link-logo {
    width: 300px;
    height: 59px;
  }

  .header__link-phone {
    top: -2px;
    width: 194px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media(max-width: 768px) {
  .header__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__link-logo {
    justify-self: flex-end;
  }

  .header__link-phone {
    display: none;
  }
}

@media(max-width: 576px) {
  .header {
    padding-top: 20px;
  }
  .header__link-logo {
    width: 161px;
    height: 32px;
  }
}