.help {
  background-color: var(--bg);
  padding-top: 90px;
  padding-bottom: 90px;
}

.help__title {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.help__list {
  list-style: none;
  counter-reset: count 0;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.help__item:nth-child(1) {
  margin-bottom: 70px;
}

.help__item:nth-child(2) {
  margin-bottom: 50px;
}

.help__item:nth-child(1),
.help__item:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* min-width: 0; */
}

.help__item-content {
  padding-top: 20px;
}

.help__subtitle {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 100px;
  margin-bottom: 19px;
}

.help__subtitle::before {
  content: counter(count);
  counter-increment: count;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 50%;
}

.help__slider-block {
  max-width: 580px;
  width: 100%;
  height: 298px;
}

.help__image-slider {
  height: 100%;
}

/* .help__slider1-wrapper {
  display: grid;
} */

/*---!!!---*/
.help__image-wrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 20px;
}

.help__image {
  background-repeat: no-repeat;
  background-size: contain;
}

.help__image-01 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 180px;
  height: 139px;
  background-image: url('../img/help/img01.jpg');
}

.help__image-02 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  width: 380px;
  height: 298px;
  background-image: url('../img/help/img02.jpg');
}

.help__image-03 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 180px;
  height: 139px;
  background-image: url('../img/help/img03.jpg');
}

.help__item:nth-child(2) .help__subtitle {
  margin-bottom: 50px;
}

.help__item:nth-child(2) .help__text:not(:last-child) {
  margin-bottom: 30px;
}

.help__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 349px;
  /* background-image: url('../img/help/img201.jpg'); */
  /* background-repeat: no-repeat; */
}

.help__subtitle_two {
  margin-bottom: 68px;
}

.help__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.help__content-image {
  max-width: 580px;
  object-fit: cover;
}

.help__item:nth-child(3) .help__text {
  max-width: 570px;
  padding-left: 100px;
}

.help__item:nth-child(3) .help__item-content {
  padding-top: 0;
  padding-bottom: 20px;
}

.help__swiper-block {
  max-width: 580px;
  width: 100%;
  height: 382px;
}

.help__slider-wrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 20px;
}

.help__slide-01 {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 280px;
  height: 382px;
  background-image: url('../img/help/slide1.jpg');
}

.help__slide-02 {
  grid-column: 2;
  grid-row: 1;
  width: 280px;
  height: 181px;
  background-image: url('../img/help/slide2.jpg');
}

.help__slide-03 {
  grid-column: 2;
  grid-row: 2;
  width: 280px;
  height: 181px;
  background-image: url('../img/help/slide3.jpg');
}


.help__text_one {
  max-width: 480px;
  padding-left: 100px;
}

.help__text_two {
  max-width: 580px;
}

.help__text_bold {
  max-width: 510px;
  line-height: 30px;
  margin-bottom: 20px;
}

.help__button {
  margin: 0 auto;
}



@media(max-width: 1320px) {
  .help {
    padding-top: 74px;
    padding-bottom: 70px;
  }

  .help__title {
    margin-bottom: 40px;
  }

  .help__list {
    margin-bottom: 24px;
  }

  .help__item:nth-child(1) {
    margin-bottom: 50px;
  }

  .help__item:nth-child(1) .help__item-content {
    min-height: 216px;
    padding-top: 57px;
  }

  .help__subtitle {
    margin-bottom: 30px;
  }

  .help__slider-block {
    max-width: 480px;
  }

  /*---!!!---*/
  .help__image-wrapper {
    grid-template: repeat(2, 1fr) / 180px 280px;
  }

  .help__image-02 {
    grid-column: 2 / 3;
    width: 280px;
    height: 298px;
    background-image: url('../img/help/img02-2.jpg');
  }

  .help__item:nth-child(2) .help__subtitle {
    margin-bottom: 60px;
  }

  .help__text_two {
    max-width: 455px;
  }

  .help__item:nth-child(2) {
    margin-bottom: 50px;
  }

  .help__content {
    justify-content: inherit;
  }

  .help__content-image {
    max-width: 400px;
  }

  .help__item:nth-child(3) {
    min-height: 269px;
  }

  .help__item:nth-child(3) .help__item-content {
    align-self: flex-start;
  }

  .help__item:nth-child(3) .help__text_bold {
    max-width: 355px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 33px;
  }

  .help__item:nth-child(3) .help__subtitle {
    margin-bottom: 20px;
  }

  .help__swiper-block {
    max-width: 380px;
    height: 245px;
  }

  .help__slider-wrapper {
    gap: 12px 20px;
  }

  .help__slide-01 {
    width: 180px;
    height: 244px;
  }

  .help__slide-02,
  .help__slide-03 {
    width: 180px;
    height: 117px;
  }
}

@media (max-width: 1023px) {
  .help {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .help__list {
    margin-bottom: 40px;
  }

  .help__item:nth-child(1),
  .help__item:nth-child(3) {
    flex-direction: column;
    align-items: flex-start;
  }

  .help__item:nth-child(1) {
    margin-bottom: 68px;
  }

  .help__item:nth-child(1) .help__item-content {
    min-height: 94px;
    padding-top: 11px;
  }

  .help__subtitle,
  .help__text_one {
    padding-left: 80px;
  }

  .help__text_one {
    max-width: 601px;
  }

  .help__item:nth-child(1) .help__subtitle {
    margin-bottom: 10px;
  }

  .help__subtitle::before {
    width: 60px;
    height: 60px;
    font-size: 34px;
    line-height: 40px;
  }

  .help__slider-block {
    max-width: 700px;
    margin: 0 auto;
    height: 391px;
  }

  .help__image-slider {
    width: 100%;
    /* height: 391px; */
    margin: 0 auto;
  }

  /*---!!!---*/
  .help__image-wrapper {
    grid-template: repeat(2, auto) / minmax(250px, 300px) minmax(300px, 380px);
    max-width: 700px;
    margin: 0 auto;
  }

  .help__image {
    background-size: cover;
  }

  .help__image-01 {
    max-width: 300px;
    width: 100%;
    height: 162px;
    background-image: url('../img/help/img01-1.jpg');
  }

  .help__image-02 {
    max-width: 380px;
    width: 100%;
    height: 391px;
    background-image: url('../img/help/img02-1.jpg');
    
  }

  .help__image-03 {
    max-width: 300px;
    width: 100%;
    height: 209px;
    background-image: url('../img/help/img03-1.jpg');
  }

  .help__item:nth-child(2) .help__subtitle {
    margin-bottom: 10px;
  }

  .help__item-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    /* min-height: 556px; */
    /* background-image: url('../img/help/img201-3.jpg'); */
    /* background-position: center bottom; */
    /* background-position-y: bottom; */
    padding-left: 80px;
  }

  .help__content {
    flex-direction: column-reverse;
    gap: 31px;
  }

  .help__content-image {
    max-width: 700px;
    width: 100%;
    max-height: 385px;
    margin: 0 auto;
  }

  .help__text_two {
    max-width: 612px;
  }

  .help__item:nth-child(2) {
    margin-bottom: 69px;
  }

  .help__item:nth-child(2) .help__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .help__item:nth-child(3) {
    gap: 10px;
  }

  .help__item:nth-child(3) .help__subtitle {
    margin-bottom: 10px;
  }

  .help__item:nth-child(3) .help__text_bold {
    max-width: 635px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 80px;
    margin-bottom: 10px;
  }

  .help__item:nth-child(3) .help__text {
    max-width: 685px;
    padding-left: 80px;
  }

  .help__swiper-block {
    max-width: 700px;
    height: 491px;
    margin: 0 auto;
  }

  .help__slider {
    width: 100%;
  }

  .help__slider-wrapper {
    grid-template: repeat(2, auto) / minmax(250px, 300px) minmax(300px, 380px);
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
  }

  .help__slide-01 {
    max-width: 300px;
    width: 100%;
    height: 491px;
    background-image: url('../img/help/slide1-1.jpg');
  }

  .help__slide-02 {
    max-width: 380px;
    width: 100%;
    height: 230px;
    background-image: url('../img/help/slide2-1.jpg');
  }

  .help__slide-03 {
    max-width: 380px;
    width: 100%;
    height: 241px;
    background-image: url('../img/help/slide3-1.jpg');
  }
}

@media(max-width: 620px) {
  .help {
    overflow: hidden;
    padding-top: 30px;
  }

  .help__title {
    margin-bottom: 11px;
  }

  .help__list {
    margin-bottom: 30px;
  }

  .help__item:nth-child(1) {
    position: relative;
    height: 314px;
    margin-bottom: 38px;
  }

  .help__item:nth-child(1) .subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .help__item:nth-child(1) .help__item-content {
    padding-top: 9px;
  }

  .help__subtitle::before {
    width: 38px;
    height: 38px;
    font-size: 24px;
    line-height: 30px;
  }

  .help__subtitle,
  .help__text_one {
    padding-left: 48px;
  }

  .help__item:nth-child(2) {
    margin-bottom: 37px;
  }

  .help__content {
    flex-direction: column-reverse;
    gap: 22px;
  }

  .help__item-wrapper {
    padding-left: 48px;
  }

  .help__slider-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 131px;
  }

  .help__image-slider {
    /* position: absolute;
    bottom: 0; */
    /* width: 583px; */
    width: 100%;
    height: 131px;
  }

  .help__image-wrapper {
    display: flex;
    gap: 10px;
  }

  .help__image-01 {
  max-width: 200px;
  height: 131px;
  background-image: url('../img/help/img01-2.jpg');
  }

  .help__image-02 {
    order: 1;
    max-width: 193px;
    height: 131px;
    background-image: url('../img/help/img02-3.jpg');
  }

  .help__image-03 {
    max-width: 170px;
    height: 131px;
    background-image: url('../img/help/img03-2.jpg');
  }

  .help__item:nth-child(3) {
    position: relative;
    height: 404px;
  }

  .help__item:nth-child(3) .help__text {
    padding-left: 48px;
  }

  .help__swiper-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
  }

  .help__slider {
    width: 100%;
    height: 160px;
  }

  .help__slider-wrapper {
    gap: 10px;
  }

  .help__slide-01 {
    background-image: url('../img/help/slide1-2.jpg');
  }

  .help__slide-02 {
    background-image: url('../img/help/slide2-2.jpg');
  }

  .help__slide-03 {
    background-image: url('../img/help/slide3-2.jpg');
  }
}

@media(max-width: 320px) {
  .help__content-image {
    height: 149px;
  }
}