.contacts {
  font-style: normal;
  font-weight: 550;
  line-height: 30px;
  color: $text-color;
  text-align: center;
  margin-bottom: 60px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 45px;
  }

  &__item {
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &_phone {
      width: 215px;
      text-align: right;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_0_16)'%3E%3Cpath d='M20.01 15.38C18.78 15.38 17.59 15.18 16.48 14.82C16.13 14.7 15.74 14.79 15.47 15.06L13.9 17.03C11.07 15.68 8.42 13.13 7.01 10.2L8.96 8.54C9.23 8.26 9.31 7.87 9.2 7.52C8.83 6.41 8.64 5.22 8.64 3.99C8.64 3.45 8.19 3 7.65 3H4.19C3.65 3 3 3.24 3 3.99C3 13.28 10.73 21 20.01 21C20.72 21 21 20.37 21 19.82V16.37C21 15.83 20.55 15.38 20.01 15.38Z' fill='%23FF8A00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_16'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    &_mail {
      width: 283px;
      text-align: right;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_0_21)'%3E%3Cpath d='M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 8L12 13L4 8V6L12 11L20 6V8Z' fill='%23FF8A00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_21'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &__link {
    transition: color 0.3s ease-in;

    &:hover, &:focus {
      color: $main-color;
    }
  }
}

@media (max-width: 1320px) {
  .contacts {
    margin-bottom: 40px;

    &__item {
      font-size: 18px;
      line-height: 24px;

      &_phone {
        width: 194px;
      }

      &_mail {
        width: 255px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .contacts {
    margin-bottom: 33px;

    &__list {
      gap: 41px;
    }
  
    &__item {
      font-size: 14px;
      line-height: 20px;

      &_phone {
        width: 158px;
      }
    
      &_mail {
        width: 206px;
      }
    }
  }
}

@media (max-width: 720px) {
  .contacts {
    &__list {
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }
  }
}