@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/comfortaa-v40-cyrillic_latin-300.woff2') format('woff2'),
    url('../fonts/comfortaa-v40-cyrillic_latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), url('../fonts/Comfortaa-Regular.woff2') format('woff2'),
    url('../fonts/Comfortaa-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), url('../fonts/comfortaa-v40-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/comfortaa-v40-cyrillic_latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  src: local('HelveticaNeueCyr'), url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 500;
  src: local('HelveticaNeueCyr'), url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), url('../fonts/ArialMT.woff2') format('woff2'),
    url('../fonts/ArialMT.woff') format('woff');
}